

@{
    ViewData["Title"] = "ImpactData";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potential Impact Data</title>
</head>
<body>
    <div id="impact" class="container">
        <div class="pgheader">Potential Earth Impact Data</div>

        @{
            Html.RenderPartial("_Menu");
        }

        <div class="sendescrip">
            The following table lists all the future Earth impact
            events that the <a href="https://cneos.jpl.nasa.gov/sentry/">JPL Sentry System</a>
            has detected based on currently available observations.
        </div>

        @{
            Html.RenderPartial("SentryTable");
        }

        @{
            Html.RenderPartial("Details");
        }

        <div id="impact" class="footer">
            This website is for entertainment purposes only and its sole purpose
            is to serve as fulfillment for USF MS BAIS requirements.
            <br />
            This is a fictional image depicting an asteroid headed for Earth
            <br />
        </div>
    </div>

</body>
</html>