@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="menu">
    <ul class="menu">
        <li><a class="link" asp-area="" asp-controller="Home" asp-action="Index">Take Me To Your Leader</a></li>
        <li><a class="link" asp-area="" asp-controller="ImpactData" asp-action="ImpactData/1">NASA Sentry Data</a></li>
        <li><a class="link" asp-area="" asp-controller="Fireball" asp-action="Fireball">NASA Scout Data</a></li>
        <li><a class="link" asp-area="" asp-controller="Home" asp-action="SignUp">Join/Modify Account</a></li>
        <li><a class="link" asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a></li>
    </ul>
</div>