@model Fireball[]

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>

<html>
<body>


    <div class="impactdetails">
        @if (@Model[0].moid != null)
        {
            <h4>ID Number:</h4> @Model[0].moid;
            <h4>Number:</h4> @Model[0].chifre;
            <h4>Distance of Each Fireball: </h4>@Model[0].caDist;
        }
        else {
        <h4>ID Number:</h4>
        <h4>Number:</h4> 
        <h4>Number of Impacts: </h4>
        }
    </div>
</body>
</html>