
@{
    ViewData["Title"] = "Fireball";

}

    <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <title>Potential Fireball Data</title>
    </head>
    <body>
        <div id="fireball" class="container">
            <div class="pgheader">Fireballs that impacted the earth </div>

            @{
                Html.RenderPartial("_Menu");
            }

            <div class="firedescrip">
                The following table lists all the future impacts of fireballs in Earth
                events that the <a href="https://cneos.jpl.nasa.gov/fireballs/">JPL Sentry System</a>
                has detected based on currently available observations. This page wants to provide descriptive 
                information
            </div>

            @{
                Html.RenderPartial("FireballTable");
            }

            @{
                Html.RenderPartial("DetailsFire");
            }

            <div id="impact" class="footer">
                This website is for entertainment purposes only and its sole purpose
                is to serve as fulfillment for USF MS BAIS requirements.
                <br />
                This is a fictional image depicting an asteroid headed for Earth
                <br />
            </div>
        </div>
